<section class="twelve cell tabs row">
    <header ng-class="selectedTabCss(kinds.Student)" ng-click="selectTab(kinds.Student)" translate content="directory.students">
    </header>
    <header ng-class="selectedTabCss(kinds.Relative)" ng-click="selectTab(kinds.Relative)" translate content="directory.relatives">
    </header>
    <header ng-class="selectedTabCss(kinds.Teacher)" ng-click="selectTab(kinds.Teacher)" translate content="userBook.teachers">
    </header>
    <header ng-class="selectedTabCss(kinds.Personnel)" ng-click="selectTab(kinds.Personnel)" translate content="directory.personnels">
    </header>
    <section class="medium-text">
        <div class="row">
            <article class="twelve cell vertical-spacing-twice list-view">
                <table class="row">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" ng-model="userList.selectAll" ng-change="switchAll()" />
                            </th>
                            <th>
                              <!-- TODO : Il faudrait adapter ce bout de code pour qu'on est le même effet sur les fleches que sur l'espace documentaire : Quand tu clique sur une des deux flèches, l'autre se "désactive" (aka une opacity a 0.2) grâce à la class .icon-off
                                J'ai trouvé ce bout de code sur l'espace doc, je vous le laisse pour l'exemple :
                                <i ng-class="{'icon-off':!isOrderedAsc('modified')}"> -->
                                <span class="sortable">
                                    <span class="icons right-spacing">
                                        <i ng-click="sortAsc(columns.Name)" class="arrow"></i>
                                        <i ng-click="sortDesc(columns.Name)" class="arrow bottom"></i>
                                    </span>
                                    <span translate content="directory.lastName"></span>
                                </span>
                            </th>
                            <th ng-if="isSelectedTab(kinds.Student)">
                                <span class="sortable">
                                    <span class="icons right-spacing">
                                        <i ng-click="sortAsc(columns.Birthdate)" class="arrow"></i>
                                        <i ng-click="sortDesc(columns.Birthdate)" class="arrow bottom"></i>
                                    </span>
                                    <span translate content="directory.birthdate"></span>
                                </span>
                            </th>
                            <th>
                              <span class="sortable">
                                  <span class="icons right-spacing">
                                      <i ng-click="sortAsc(columns.Login)" class="arrow"></i>
                                      <i ng-click="sortDesc(columns.Login)" class="arrow bottom"></i>
                                  </span>
                                  <span translate content="directory.login"></span>
                              </span>
                            </th>
                            <th>
                              <span class="sortable">
                                  <span class="icons right-spacing">
                                      <i ng-click="sortAsc(columns.Activation)" class="arrow"></i>
                                      <i ng-click="sortDesc(columns.Activation)" class="arrow bottom"></i>
                                  </span>
                                  <span translate content="directory.activation"></span>
                              </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <input type="text" class="class-admin__input--no-border twelve" i18n-placeholder="userBook.search" ng-model="userList.search" />
                            </td>
                        </tr>
                        <tr class="class-admin__list" ng-class="{ checked: user.selected, disabled: user.isDisabled }" ng-repeat="user in usersForType()">
                            <td class="centered">
                                <input type="checkbox" ng-model="user.selected" ng-if="!user.isMe" ng-change="onUserSelected()"/>
                                <img class="class-admin__avatar" ng-src="[[user.avatar48Uri]]" />
                            </td>
                            <td>
                                <a ng-href="[[user.editUserUri]]" ng-if="!user.activationCode">[[user.safeDisplayName]]</a>
                                <a ng-href="[[user.editUserInfosUri]]" ng-if="user.activationCode">[[user.safeDisplayName]]</a>
                            </td>
                            <td ng-if="isSelectedTab(kinds.Student)"><span ng-if="user.hasBirthDate">[[user.shortBirthDate]]</span></td>
                            <td>[[user.login]]</td>
                            <td ng-class="displayCodeCss(user)">[[displayCode(user)]]</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </section>
</section>