<!DOCTYPE html>
<!--

 -->

<html ng-controller="ClassAdminController">

<head>
	<title>{{#i18n}}classAdmin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/directory/public/dist/entcore/ng-app.js" id="context"></script>
	<script type="text/javascript" src="/directory/public/dist/application.js"></script>
	<script type="text/ng-template" id="empty"></script>
</head>

<body class="account">
	<portal>
		<!--HEADER-->
		<h1 data-reload><i class="admin"></i> <span translate content="classAdmin.title"></span></h1>
		<div class="centered twelve cell info vertical-spacing-twice" ng-if="classrooms.length === 0">
			<i18n>classAdmin.noAttachment.message</i18n>
		</div>
		<article type="button" class="select-button left-text low-text row">
			<div class="row" ng-if="classrooms.length !== 0">
				<input class="right-spacing active" ng-model="selectedClass.name" complete-change="saveClassInfos()">
				<span class="italic-text" ng-if="belongsToMultipleSchools()">[[selectedSchool(selectedClass)]]</span>
				<i class="sort horizontal-margin top-spacing absolute-magnet" ng-click="openClassList()" ng-if="classrooms.length > 1"></i>
			</div>
			<div class="row" ng-if="classrooms.length === 0">
				<span translate content="classAdmin.noAttachment"></span>
			</div>
			<div class="found-users-list" ng-if="listOpened">
				<div ng-repeat="classroom in classrooms" class="row autocomplete temp">
					<div ng-click="selectClassroom(classroom)" class="row" ng-if="classroom.id !== selectedClass.id">
						<a class="cell right-spacing">
							<span>[[classroom.name]]</span>
							<span class="italic-text" ng-if="belongsToMultipleSchools()">[[selectedSchool(classroom)]]</span>
						</a>
					</div>
				</div>
			</div>
		</article>

		<section class="class-admin__options">
			<a class="button-big" ng-class="{ disabled: classrooms.length === 0 }" href="#" ng-click="openLightbox('admin/create-user')">
				<i18n>classAdmin.add.users</i18n>
				<i class="users"></i>
			</a>
			<a class="button-big" ng-class="{ disabled: classrooms.length === 0 }" href="#" ng-click="openLightbox('admin/massmailing')">
				<i18n>classAdmin.massmailing</i18n>
				<i class="file"></i>
			</a>
			<a class="button-big" ng-class="{ disabled: classrooms.length === 0 || true }" href="#" ng-click="openLightbox('admin/apps-visibility')">
				<i18n>classAdmin.apps.visibility</i18n>
				<i class="lock"></i>
			</a>
			<a class="button-big" ng-class="{ disabled: classrooms.length === 0 || true }" href="#" ng-click="openLightbox('admin/year-transition')">
				<i18n>classAdmin.year.transition</i18n>
				<i class="lock"></i>
			</a>
		</section>

		<h1 class="text row vertical-spacing-twice" translate content="classAdmin.manageUsers"></h1>
		<!--END HEADER -->
		<!--TABLE -->
		<container template="userList" ng-if="hasSelectedClass()"></container>
		<!--END TABLE -->
	</portal>
	<container template="lightboxes"></container>
	<container template="toaster"></container>
</body>

</html>